controller_manager:
  ros__parameters:
    update_rate: 100

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    stepper_trajectory_controller:
      type: joint_trajectory_controller/JointTrajectoryController


joint_state_broadcaster:
  ros__parameters:
    publish_rate: 50


stepper_trajectory_controller:
  ros__parameters:
    joints:
      - stepper_joint

    command_interfaces:
      - position

    state_interfaces:
      - position

    allow_partial_joints_goal: false
    open_loop_control: true
